services:
  backend:
    build: ./backend
    container_name: transcriber_backend
    expose:
      - "8000"
    volumes:
      - ./backend/records:/app/records
    env_file:
      - ./backend/.env
    restart: unless-stopped
    networks:
      - transcriber-network

  # Nginx с HTTPS и проксированием
  frontend:
    build: ./nginx
    container_name: transcriber_frontend
    volumes:
      - ./frontend:/usr/share/nginx/html
    ports:
      - "80:80"
      - "443:443"
    depends_on:
      - backend
    restart: unless-stopped
    networks:
      - transcriber-network

networks:
  transcriber-network:
    driver: bridge
